.header
  %h4.message

= render '/shared/left'

.right-wrapper
  .right-upper
    %ul.group-container
      %li.group-container__current-group
        =@group.name
        %span<>
      %li.group-container__edit-button
        = link_to "Edit", edit_group_path(params[:group_id]), method: :get, class: 'edit-button'
        %span<>
    %p.member-name
      "Member" : 
      -@user.each do |user|
        =user.name
    
  .right-lower
    = render @messages
  .message-form
    = form_for([@group, @message], html: {class: "message-form__container"}) do |f|
      .message-form__container__input-box
        = f.text_area :content, placeholder:"type a style", :class=> "message-form__container__input-box--text"
      .message-form__container__icon-position
        %label.label
          = fa_icon'image'
          = f.file_field :image, class: "message-form__container__icon-position--file"
      = f.submit "send", class: "message-form__container__send-button"

